networks:
  internal-network:
    internal: true
  external-network:
    driver: bridge

services:
  api-verea:
    image: ghcr.io/samueldouay/api-vera:main
    ports:
      - '8080:8080'
    depends_on:
      internal-db:
        condition: service_healthy
    networks:
      - internal-network
      - external-network
    container_name: verea-api
    environment:
      - DB_URL=jdbc:postgresql://internal-db:5432/vera
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - CORS_ALLOWED_DOMAIN=http://localhost
  internal-db:
    image: postgres:14
    user: postgres
    container_name: verea-api-db
    networks:
      - internal-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vera
    volumes:
      - pgdata-verea:/var/lib/postgresql/data
      - pgconf-verea:/etc/postgresql
      - pglog-verea:/var/log/postgresql
volumes:
  pgdata-verea:
    driver: local
  pgconf-verea:
    driver: local
  pglog-verea:
    driver: local